.genres {
    margin: 30px -8px;
}
.genres__list {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}
.genres__list__item {
    font-size: 15px;
    font-weight: 700;
    text-transform: capitalize;
    color: #8f8f8f;
    margin: 0 10px;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}
.genres__list__item:hover {
    color: #fff;
}
.genres__list__link {
    cursor: pointer;
}
.genres__list__item.active {
    color: #db1d40;
    font-weight: 700;
}
.genres__list__item.active:hover {
    color: #db1d40;
}